/* 

A D D O N S 

==========================================================================================================
*/ 


/*
USRBG Profile Modals by Tropix126.
===========================================
If your theme heavily modifies the
positioning for these modals, I
suggest either messing around with
the below variables, or writing your
own custom code using the database.

You are allowed to use this in your theme
without prior permission from me or any
other contributors to USRBG.
*/

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

/*
USRBG Popouts by Tropix126.
===========================================
Please note that this snippet requires basic
transparency on the user popout in order for
the background to be fully visible.

You are allowed to use this in your theme
without prior permission from me or any
other contributors to USRBG.
*/
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}



/* 
============================================================================================================

__  __ _                         _____  _                       _   _______ _                         
|  \/  (_)                       |  __ \(_)                     | | |__   __| |                        
| \  / |_ _   _ _   _  __ _      | |  | |_ ___  ___ ___  _ __ __| |    | |  | |__   ___ _ __ ___   ___ 
| |\/| | | | | | | | |/ _` |     | |  | | / __|/ __/ _ \| '__/ _` |    | |  | '_ \ / _ \ '_ ` _ \ / _ \
| |  | | | |_| | |_| | (_| |     | |__| | \__ \ (_| (_) | | | (_| |    | |  | | | |  __/ | | | | |  __/
|_|  |_|_|\__, |\__,_|\__,_|     |_____/|_|___/\___\___/|_|  \__,_|    |_|  |_| |_|\___|_| |_| |_|\___|
           __/ |                                                                                   
          |___/                                                        

  Miyua (Discord Theme) Version: 0.07
    
   Author: RK#3951 (395422901878390785)
    
    Info: Miyua is just a simple little theme. it's nothing much. it only really exists to 
          help me learn CSS as well as how to theme Discord. But i eventually hope to be 
          create better themes for people to use. 

     Credits ( Thanks To ) : Pavy, for being cute ( Also Inspiring me to make my own theme ) 
                             CorellanStoma, for helping me out
                             You, for using my theme 
      
       Note: I know everything is a mess, unorganized. please don't bully?

============================================================================================================
*/



:root{
 
/* Dark Mode Base Colors (you can easily change the colors of the dark theme below)*/ 

--Dark_Background_001:#1E1D29; /* Main background color for stuff like chat in dark mode*/
--Dark_Background_002:#1A1822; /* Secondary background color for stuff like channel list and member drawer in dark mode */
--Dark_Background_003:#121216; /* Dark background color of the theme in dark mode*/
--Dark_Transparent_001: #1A1822EF;
--Dark_Transparent_002: #12121683;

/* Light Mode Base Colors (you can easily change the colors of the light theme below)*/

--Light_Background_001: #e6e6e6;  /* Main background color for stuff like chat in light mode */
--Light_Background_002: #d4d0ff;  /* Secondary background color for stuff like channel list and member drawer in light mode */
--Light_Background_003: #c0c0e9;   /* Dark background color of the theme in dark mode*/



/* Main Accent Colors of the theme (you can easily change the accent colors here */

--Accent_001: #AA6DA3;    /* Secondary accent color of the theme */
--Accent_002: #AA6DA346;
--Accent_003: #AA6DA315;

--Accent_004: #DE0F61;    /* Main accent color of the theme */
--Accent_005: #DE0F6146;
--Accent_006: #de0f6215;

--Accent_007: #DB8736;    /* Third  accent color of the theme */
--Accent_008: #DB873646;
--Accent_009: #DB873615;


/* Spotify Color of the theme (you can easily change the color of spotify stuff here) */

--spotify-color: var(--Accent_004) !important; 

}





/* Applying The Dark Mode Base Colors To Discord's Dark Mode */
.theme-dark {
--background-primary: var(--Dark_Background_001);
--background-secondary: var(--Dark_Background_002);
--background-tertiary:  var(--Dark_Background_002);
--background-secondary-alt: var(--Dark_Background_002);
--background-accent: var(--Dark_Background_003);
--channeltextarea-background: var(--Dark_Background_002); 
--scrollbar-thin-thumb: var(--Dark_Background_003 );
--scrollbar-thin-track: transparent;
--scrollbar-auto-thumb: var(--Dark_Background_003);
--scrollbar-auto-track: transparent;
--scrollbar-auto-scrollbar-color-thumb: var(--Dark_Background_003);
--scrollbar-auto-scrollbar-color-track: var(--Dark_Background_002);
--background-message-hover: var(--Accent_003);
--activity-card-background: var(--Accent_004);
--toast-header: var(--Dark_Background_003);
--toast-contents: var(--Dark_Background_002);
--toast-background: var(--Dark_Background_002);
--deprecated-quickswitcher-input-background: var(--Dark_Background_003);
--background-modifier-selected: var(--Accent_002) !important; 
--background-modifier-hover: var(--Accent_003);
--background-modifier-active: var(--Accent_003);
--background-floating: var(--Dark_Background_001);
--deprecated-store-bg: var(--Dark_Background_001);
}






/* Applying The Light Mode Base Colors To Discord's Light Mode */
.theme-light {
  --background-primary: var(--Light_Background_001);
  --background-secondary: var(--Light_Background_002);
  --background-tertiary: var(--Light_Background_002);
  --background-secondary-alt: var(--Accent_001);
  --background-accent: var(--Light_Background_003);
  --channeltextarea-background: var(--Light_Background_002); 
  --scrollbar-thin-thumb: var(--Light_Background_003);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: var(--Light_Background_003);
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--Light_Background_003);
  --scrollbar-auto-scrollbar-color-track: var(--Light_Background_002);
  --background-message-hover: var(--Accent_003);
  --toast-header: var(--Light_Background_003);
  --toast-contents: var(--Light_Background_002);
  --toast-background: var(--Light_Background_002);
  --deprecated-quickswitcher-input-background: var(--Light_Background_003);
  --background-modifier-selected: var(--Accent_002); 
  --background-modifier-hover: var(--Accent_003);
  --background-modifier-active: var(--Accent_002);
  --background-floating: var(--Light_Background_001);
  --deprecated-store-bg: var(--Light_Background_001);
} 




/* //////////////////////////////////////////////////////////////////////////////////////// */
 





 /* Other CSS Stuffs */






/* //////////////////////////////////////////////////////////////////////////////////////// */


/* ----------------------------- */

/*     [ CHAT/CONTENT AREA ]     */

/* ----------------------------- */


/*  Colors The Chat Icon Next To The Channel Name  */
.icon-22AiRD {
  color: var(--activity-card-background);
}
/*  Rounding The Chat Content Area As well As Adding A Bottom Margin  */
  .chat-3bRxxu {
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 10px;
  } 
/*  Rounding The Chat Field & Search Bar, Profile Message Feild Adding A Border Radius  */
  .scrollableContainer-2NUZem, .searchBar-3dMhjb, .container-2fRDfG, .inputWrapper-31_8H8 {
    border-radius: 20px;
    background-color: var(--background-accent);
  } 
/*  Remove Opacity From Chat Field When No Perms To Talk  */
 .channelTextAreaDisabled-8rmlrp, .scrollableContainer-2NUZem {
  opacity: none;
}
/* Rounded And Floating New Message Bar */
.newMessagesBar-265mhP {
  margin-top: 5px;
  border-radius: 20px;
  background-color: var(--Accent_004);
}
/* Spotify Color In Attatchement Area */
.attachButtonPlay-3iJ0mf {
  color: var(--Accent_001);
}





  .container-2fRDfG {
    margin-bottom: 10px;
  }


  /* idek */
  .container-1r6BKw { 
   border-radius: 20px
  }  
  

/* Server Memeber List */
  .members-1998pB, .members-1998pB>div {
    background-color: var(--background-secondary);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
  }
















/* Server List Area */
  .scroller-1Bvpku { 
    margin-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--background-primary);

  }
   /* DM User List Title Text */
  
  .headerText-2F0828 {
    text-align: center;
    padding-left: 16px;
  }
  
  /* Server Channel List Text */
  .name-3l27Hl {
    text-align: center;
    padding-right: 12px;
  }
  
  /* Server Role Name Center */
  .membersGroup-v9BXpm {
    text-align: center;
    height: 20px;
    padding: 0px 8px 0px 16px;
  }

  /* Channel list side bar  padding */

  .sidebar-2K8pFh {
    padding-left: 11px;
    padding-right: 11px;
  }

  /* Channel List shadows */
  .header-2V-4Sw {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  /* User Panel / Spotify */
  .panels-j1Uci_{ 
    background-color: var(--background-accent);
    margin-bottom: 10px;
    padding-top: -10px;
    border-radius: 20px;;
  } 
  /* User Panel Buttons Recolor */
  .button-14-BFJ {
    color:var(--Accent_004);
  }
  /* Spotify Seek Bar Recolor */
  .powercord-spotify .spotify-seek-bar-progress {
    background-color: var(--Accent_001); 
  }
 /* Rounded Status State Picker */
 .menu-3sdvDG {
   border-radius: 20px;
 }




  .theme-dark .container-1D34oG {
    background-color: var(--background-primary);
  }

  /* [     USER POPOUT     ] */
  
  /* User Popout Top */
  .headerTop-3C2Zn0 {
    background-color: var(--background-accent);
  } 
  /* User Popout Bottom */
  .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--background-secondary);
  } 



  .section-2gLsgF {
    background-color: var(--background-accent);
  }

  /* DM list Search */
  .searchBarComponent-32dTOx {
     background-color: var(--background-accent) !important;
  
  }
  /* pp */
  .searchBar-6Kv8R2 {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 40px !important;
  }


 .container-2fRDfG {
   padding-bottom: 10xp;
 }

 /* playing status recolor */
 .headerPlaying-j0WQBV {
   background-color: var(--background-secondary);
 }

 /* Rounded Jump to bottom */
 .jumpToPresentBar-G1R9s6, .jumpToPresentBar-G1R9s6:active  {
   border-radius: 20px;
   padding-bottom: 0px;
   margin-bottom: 12px;
 }

 /* Remove shadows from content area, friends list ect */
 .content-yTz4x3:before, .tabBody-3YRQ8W:before {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
 }

 /* rounded and colored toolbar */
 .container-1r6BKw.themed-ANHk51 {
   background-color: var(--background-accent);
   border-radius: 20px 0px 0px 20px;
   margin-right: 20px;
   margin-left: 0px;
 }

 /* Toobar Shadow */
 .children-19S4PO:after { 
   display: none;
 }

 /* Autocomplete / Emoji area */

 .theme-dark .autocomplete-1vrmpx {
   background-color: var(--background-accent);
   border-radius: 20px;
 }
/* Selection Highlight */
.theme-dark .selected-1Tbx07 {
  background-color: var(--background-primary);
}

/* Popup idk which one */
.theme-dark .root-1gCeng {
  background-color: var(--background-secondary);
}

/* Emoji Menu */

.wrapper-2aW0bm {
  border-radius: 20px;
}


/* Rounded Selectors */
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n{
  border-radius: 20px;
}



/*


S E A R C H   M E N U 


*/



/* Search Menu Rounding and Top Margin */
.container-3ayLPN {
 border-radius: 20px;
 margin-top: 20px;
}
/* Search Menu Text Shadow */
.option-96V44q:after {
  display: none;
}
/* Search Menu Box Shadow */
.elevationBorderHigh-2WYJ09 {
  box-shadow: none;
}
/* Search Menu Item Select */
.theme-dark .option-96V44q.selected-rZcOL-, .theme-light .option-96V44q.selected-rZcOL- {
  background-color: var(--Accent_005);
  border-radius: 40px;
}
/* Search Filter/Item Background */
.theme-dark .searchFilter-2ESiM3, .theme-light .searchFilter-2ESiM3 {
  background-color: var(--Accent_004);
}
.theme-dark .searchAnswer-3Dz2-q, .theme-light .searchAnswer-3Dz2-q {
  background-color: var(--Accent_005);
}
.theme-dark .focused-2bY0OD, .theme-light .focused-2bY0OD {
  background-color: var(--deprecated-quickswitcher-input-background);
}
/* Calander Fix */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker, .theme-light .calendarPicker-2yf6Ci .react-datepicker {
  background-color: var(--background-primary);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type, .theme-light .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
  background-color: var(--background-primary);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type, .theme-light .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
  background-color: var(--background-secondary);
}

/* DM list person highlight */
.selected-aXhQR6 .layout-2DM8Md {
  border-radius: 40px;
}
/* DM list person hover */
.clickable-1JJAn8:active .layout-2DM8Md {
  border-radius: 40px;
  background-color: var(--background-modifier-hover) ;
}

/* Message Hover */ 
.message-2qnXI6:hover {
  margin-left: 3px;
  border-radius: 5px;
}



/* Autocomplete / Emoji area recolor and border rounding */
.theme-dark .autocomplete-1vrmpx, .theme-light .autocomplete-1vrmpx {
  background-color: var(--background-accent);
  border-radius: 20px;
}

/* Selection Highlight recolor */
.theme-dark .selected-1Tbx07, .theme-light .selected-1Tbx07 {
 background-color: var(--background-primary);
}
.theme-dark .root-1gCeng, .theme-light .root-1gCeng {
  background-color: var(--background-secondary);
  
}
.theme-dark .container-3ayLPN, .theme-light .container-3ayLPN {
  background-color: var(--deprecated-quickswitcher-input-background);
}



/* Removing Borders From Input Fields in Modals  */
.multiInput-2AiDV2 { 
  border: none;
  background-color: transparent;
} 

.input-cIJ7To { 
  border: none;
  background-color: transparent;
}

.theme-dark .footer-2gL1pp, .theme-light .footer-2gL1pp {
  background-color: var(--background-secondary);
}
/* Discord Home Logo */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: #DE0F61;
}


.wrapper-2jXpOf:active .content-1x5b-n {
  border-radius: 40px;
}



/* 


S T O R E   P A G E 


*/


/* Tool Bar BG Fix */
.theme-dark .container-1D34oG, .theme-light .container-1D34oG {
  background-color: var(--background-primary);
  border-radius: 20px 0px 0px 0px;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6, .theme-light .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--activity-card-background);
}
 


/* ------------------------ */

/*     [ LIBRARY PAGE ]     */

/* ------------------------ */



/* Hide the Webkit Shadow */
.libraryHeader-3g95kE:before {
  display: none;
}



/* ------------------------ */

/*     [ FRIENDS PAGE ]          
      ( Wait, people have 
      friends and actually 
        see this page-? )

/* ------------------------- */

/* Activity Highlight */ 
.theme-dark .outer-1AjyKL.interactive-3B9GmY:hover, .theme-light .outer-1AjyKL.interactive-3B9GmY:hover {
  background-color: var(--background-message-hover);
  border-radius: 20px;
}
/* Person List Hightlight */
.peopleListItem-2nzedh:hover {
  border-radius: 20px;
}




/* DM list person highlight */
.clickable-1JJAn8:hover .layout-2DM8Md {
  border-radius: 20px;
}

.theme-dark .uploadModal-2ifh8j, .theme-light .uploadModal-2ifh8j {
  background-color: var(--background-primary);
}

.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
  background-color: var(--background-primary);
}


/* User Panel Strikethrough */
.strikethrough-1n4ekb { color: var(--Accent_001);
  }

/* Server List Highlight Selector */
.wrapper-2jXpOf:hover .content-1x5b-n { 
  border-radius: 40px;
}

/* Rounded toolbar popout */
.theme-dark .root-1gCeng, .theme-light .root-1gCeng {
  border-radius: 20px;
}


